<!doctype html>
<html>

<!-- Mirrored from salesupster.ru/iptv/fb-telecom/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 24 Apr 2022 11:55:56 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>FB Telecom</title>
<link href="css/normalize.css" rel="stylesheet">
<link href="css/owl.carousel.min.css" rel="stylesheet">
<link href="css/iziModal.min.css" rel="stylesheet">
<link href="css/jquery-ui.min.css" rel="stylesheet">
<link href="css/styles.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:,400,500,700,900&amp;subset=cyrillic" rel="stylesheet">
<link rel="shortcut icon" type="image/png" href="favicon.png" />
</head>
<body>
<div id="pack-5e7b2bb2cf1d9d5a91882f43"></div>
<div id="pack-5e7b2c41cf1d9d5a91882f44"></div>
<div id="pack-5e7b2c9bcf1d9d5a91882f45"></div>
<div id="pack-5e7b2d5dcf1d9d5a91882f46"></div>
<div id="pack-624188dd245df6160e4578cb"></div>
<div id="pack-62418bc1c1146503a1043e90"></div>
<div id="pack-62418b342473782366fd21dc"></div>
<div id="pack-5e7b2dd8d2d31fcd54882efc"></div>
<div id="pack-610435302f5350c7c3efe669"></div>
<div id="pack-5e7b2e51cf1d9d5a91882f48"></div>
<div id="channels_dozhd" class="iziModal modal-window modal-window_dop">
  <div class="iziModalcontent">
    <button type="button" class="close iziModal-button-close" data-izimodal-close=></button>
    <span><img src="img/dozhd/01.png" /><span class="channels_name">Дождь</span></span> </div>
</div>
<div id="channels_match" class="iziModal modal-window modal-window_dop">
  <div class="iziModalcontent">
    <button type="button" class="close iziModal-button-close" data-izimodal-close=></button>
    <span><img src="img/nash_futbol/logo_match.png" /><span class="channels_name">МАТЧ! ПРЕМЬЕР</span></span>
     </div>
</div>
<div id="channels_football" class="iziModal modal-window modal-window_dop">
  <div class="iziModalcontent">
    <button type="button" class="close iziModal-button-close" data-izimodal-close=></button>
    <span><img src="img/plus_futbol/01.png" /><span class="channels_name">Матч! Футбол 1 HD</span></span> 
    <span><img src="img/plus_futbol/02.png" /><span class="channels_name">Матч! Футбол 2 HD</span></span> 
    <span><img src="img/plus_futbol/03.png" /><span class="channels_name">Матч! Футбол 3 HD</span></span>
    </div>
</div>
<div id="channels_cinema" class="iziModal modal-window modal-window_dop">
  <div class="iziModalcontent">
    <button type="button" class="close iziModal-button-close" data-izimodal-close=></button>
    <span><img src="img/plus_kino/04.png" /><span class="channels_name">Киносвидание HD</span> </span> 
    <span><img src="img/plus_kino/02.png" /><span class="channels_name">Кинопремьера HD</span></span>  
    <span><img src="img/plus_kino/03.png" /><span class="channels_name">Киносемья HD</span></span>  
    <span><img src="img/plus_kino/01.png" /><span class="channels_name">Кинохит HD</span></span> 
    <span><img src="img/plus_kino/05.png" /><span class="channels_name">Мужское кино HD</span></span>  </div>
</div>
<div id="channels_nochnoy" class="iziModal modal-window modal-window_dop">
  <div class="iziModalcontent">
    <button type="button" class="close iziModal-button-close" data-izimodal-close=></button>
    <span><img src="img/nochnoi/01.jpg">Brazzers</span> <span><img src="img/nochnoi/02.jpg">Playboy</span> <span><img src="img/nochnoi/night05.jpg">Русская ночь</span> <span><img src="img/nochnoi/night04.jpg">Ночной клуб</span> <span><img src="img/nochnoi/night01.jpg">О-ля-ля</span> <span><img src="img/nochnoi/night06.jpg">Blue Hustler</span> </div>
</div>
<div id="channels_shant" class="iziModal modal-window modal-window_dop">
  <div class="iziModalcontent">
    <button type="button" class="close iziModal-button-close" data-izimodal-close=></button>
    <span><img src="img/shant/01.png" /><span class="channels_name">Шант Premium</span></span>  
    <span><img src="img/shant/02.jpg" /><span class="channels_name">Shant Music HD</span></span>  
    <span><img src="img/shant/03.jpg" /><span class="channels_name">Shant Serial HD</span></span>  
    <span><img src="img/shant/04.jpg" /><span class="channels_name">Shant Kids HD</span></span>  
    <span><img src="img/shant/05.jpg" /><span class="channels_name">Shant News HD</span></span>  </div>
</div>
<div id="channels_amedia" class="iziModal modal-window modal-window_dop">
  <div class="iziModalcontent">
    <button type="button" class="close iziModal-button-close" data-izimodal-close=></button>
    <span><img src="img/amedia/01.png" /><span class="channels_name">Amedia 1</span></span>  
    <span><img src="img/amedia/02.png" /><span class="channels_name">Amedia 2</span></span>  
    <span><img src="img/amedia/03.png" /><span class="channels_name">Amedia Premium HD</span></span>  
    <span><img src="img/amedia/04.png" /><span class="channels_name">Amedia Hit HD</span></span>  
    </div>
</div>
<div class="iziModal modal-window modal-window_full" id="channels_genre">
  <div class="iziModalcontent modal_content" id="top">
    <button type="button" class="close iziModal-button-close" data-izimodal-close=></button>
    <div class="channels_box">
      <h1 class="tariff_name"></h1>
      <h2 class="tariff_channels_count">Каналов <span></span></h2>
      <div class="channels_boxContent"></div>
      <p class="disclaimer tac">Список каналов носит ознакомительный характер. Состав подписки, представленный на данной странице, может быть неполным. Сервис оставляет за собой право вносить изменения в подписку в любой момент.</p>
    </div>
  </div>
</div>
<div class="iziModal modal-window" id="podkluch">
  <div class="iziModalcontent modal_content">
  <button type="button" class="close iziModal-button-close" data-izimodal-close=></button>
    <form method="post" class="form" id="form-dop">
    <h3 class="tac">Подключить</h3>
        <input id="modal_rate" type="hidden" class="control control_tarif" name="tariff">
        <input id="modal_name" type="text" class="control" placeholder="Ваше ФИО" name="name" required>
        <input id="modal_phone" type="text" class="control phone" name="phone" placeholder="+7(___) ___-__-__" required>
        <button onclick="tv_new_modal_submit()" type="submit" class="btn btn_form">Отправить</button>
    </form>
  </div>
</div>
<div class="container_main" id="fullpage">
  <div class="header_top">
    <div class="container flex_row aic">
     <div class="header_logos flex_row aic">
        <a href="{{ path('home') }}">
    	    <div class="header_logo header_logo2">
    	        <!--<a href="{{ path('home') }}" class="trigger"></a>-->
    	   </div> 
  <!--    	<div class="header_logo header_logo1"><a href="#podkluch"></a></div>-->
        </a>
     </div>
      <div class="header_trigger"> <span class="posa"></span> </div>
      <div class="header_navOuter">
      <ul class="header_nav flex_row aic jcsb">
        <li class="header_navItem"><a href="#1Page" class="header_navLink smooth">Специальные предложения</a></li>
        <li class="header_navItem header_navItem_more"><a href="#" class="header_navLink flex_row aic">Еще <span class="icon_arrow"></span></a>
          <ul class="header_submenu">
            <li class="header_navItem"><a href="#4Page" class="header_navLink smooth">Тарифы</a></li>
            <li class="header_navItem"><a href="#7Page" class="header_navLink smooth">Как смотреть?</a></li>
            <li class="header_navItem"><a href="#6Page" class="header_navLink smooth">Обзор продукта</a></li>
            <li class="header_navItem"><a href="https://new.myfbt.ru/tv" class="header_navLink">Личный&nbsp;кабинет</a></li>
          </ul>
        </li>
        <li class="header_navItem"><a href="#4Page" class="header_navLink smooth">Тарифы</a></li>
        <li class="header_navItem"><a href="#7Page" class="header_navLink smooth">Как смотреть?</a></li>
        <li class="header_navItem"><a href="#6Page" class="header_navLink smooth">Обзор продукта</a></li>
        <li class="header_navItem"><a href="https://new.myfbt.ru/tv" class="header_navLink">Личный кабинет</a></li>
      </ul>
      </div>
      <div class="header_btns flex_row"> <a href="#podkluch" class="btn btn_main trigger header_btn trigger">Подключить</a> </div>
    </div>
  </div>
  <header class="section" id="section1" data-section-name="1Page">
    <div class="header_banner" id="1Page">
      <div class="container">
        <h1 class="tac">Более 300 каналов и 6 онлайн-кинотеатров<br> в одном приложении!</h1>
        <div class="header_content">
          <div class="slider main_slider owl-carousel">
            {% for i in tvbs %}
            <div class="header_slide" style="background: url(/uploads/tvbanner/{{i.getImage()}}) no-repeat center / contain">
                <a href="#podkluch" target="_blank" class="header_link trigger"></a>
            </div>
            {% endfor %}
          </div>
          <a href="#2Page" class="header_bannerLink tac">Узнать больше</a>
        </div>
      </div>
    </div>
  </header>
  <section class="sec sec_column secInsert section" id="section2" data-section-name="2Page">
    <div class="container">
      <div class="secInsert_box">
      <h2 class="tac">Вы открыли мир интерактивного<br/> телевидения будущего</h2>
      <ul class="secInsert_list list">
		  <li><strong>Управление эфиром.</strong><br/> Используйте паузу, перемотку, архив до 14 дней, чтобы ничего не пропустить.</li>
		  <li><strong>Качество картинки.</strong><br/> От FULL HD и 4K на большом экране до режима экономии трафика на смартфоне без потери качества картинки.</li>
		  <li><strong>Дома, в дороге, на даче.</strong><br/> Смотрите любимые передачи и фильмы везде, где есть Интернет.</li>
      </ul>
      </div>
    </div>
    <a href="#3Page" class="header_bannerLink tac">Ещё больше</a>
  </section>
  <section class="secEdge sec_column posr sec section"  id="section3" data-section-name="3Page">
    <div class="container posr">
    <h2 class="tac">Выбирайте где и когда смотреть:</h2>
      <div class="secEdge_box flex_row aic">
        <div class="secEdge_box_left flex_item2">
          <div class="secEdge_devices"></div>
        </div>
        <div class="secEdge_box_right flex_item2">
        <div class="stores_box flex_row aic"> 
        <img src="img/samsung-smart-tv.png" alt="" class="store">
        <img src="img/lg-smart-tv.png" alt="" class="store">
        <img src="img/android-tv.png" alt="" class="store">
        <img src="img/apple-tv.png" alt="" class="store store_tv">
        <img src="img/appstore.png" alt="" class="store"> 
        <img src="img/google-play-badge.png" alt="" class="store">    
        </div>
        <ul class="secEdge_list list">
        	<li><strong>На любом устройстве.</strong><br/> Сервис работает на телевизорах AndroidTV, SmartTV, смартфонах, планшетах iOS и Android, обычном ПК или ноутбуке.</li>
		      <li><strong>Перенос изображения.</strong><br/> Переключайте изображение с одного устройства на другое, например со смартфона на телевизор, в процессе просмотра. </li>
		      <li><strong>Экономия.</strong><br/> До 5-ти устройств с одного аккаунта для всей семьи на всей территории РФ.</li>
        </ul>
        </div>
      </div>
    </div>
     <a href="#4Page" class="header_bannerLink tac">Подключайте</a>
  </section>
  <section class="sec secTv section" id="section4" data-section-name="4Page"> 
    <script>
				var idPackages = [];
		  </script>
    <div class="container container_min" id="4Page"> 
    <h2 class="tac">Тарифы</h2>
<!--<ul class="secTv_list flex_row jcc">
      <li class="secTv_listItem"><a href="#tarif_base" class="active">ТВ</a></li>
        <li class="secTv_listItem"><a href="#tarif_osn">Интернет + ТВ</a></li>
        
      </ul>-->
      <div class="secTv_box" id="tarif_osn">
        <div class="secTv_slider">
          <div class="secTv_item tv-channels secTv_item_sale flex_row" data-id="5e7b2bb2cf1d9d5a91882f43">
            <div class="secTv_left flex_column">
             <a href="#" class="secTv_leftLink posa-full trigger" ></a>
              <p class="secTv_title title-channels">Стандарт</p>
           <p class="price flex_row aife posr"><span class="price_cost">199</span> <span class="price_rub"><span class="rub">р</span>/30 дней</span> </p>
           <a href="#podkluch" class="btn btn_main trigger" data-name="Стандарт">Подключить</a>
            </div>
            <div class="secTv_right flex_column">
              <div class="iconTv"></div>
              <script>
              idPackages.push("5e7b2bb2cf1d9d5a91882f43");
            </script> 
              <a href="#pack-5e7b2bb2cf1d9d5a91882f43" class="link link_count secTv_link">Каналов: <span class="channels_count">226</span></a> <a href="#channels_genre" class="btn secTv_btn trigger">Подробнее о тарифе</a> </div>
          </div>
          <div class="secTv_item tv-channels flex_row" data-id="5e7b2c41cf1d9d5a91882f44">
            <div class="secTv_left flex_column">
             <a href="#" class="secTv_leftLink posa-full trigger" ></a>
              <p class="secTv_title title-channels">Оптима</p>
        
              <p class="price flex_row aife posr"><span class="price_cost">449</span> <span class="price_rub"><span class="rub">р</span>/30 дней</span> </p>
              <a href="#podkluch" class="btn btn_main trigger" data-name="Оптима">Подключить</a>
            </div>
            <div class="secTv_right flex_column">
              <div class="iconTv"></div>
              <script>
              idPackages.push("5e7b2c41cf1d9d5a91882f44");
            </script> 
              <a href="#pack-5e7b2c41cf1d9d5a91882f44" class="link link_count secTv_link">Каналов: <span class="channels_count">283</span></a>
              <p class="secTv_subtitle"><span>+&nbsp;PREMIER</span></p>
              <a href="#channels_genre" class="btn secTv_btn trigger">Подробнее о тарифе</a> </div>
          </div>
          <div class="secTv_item tv-channels flex_row" data-id="5e7b2c9bcf1d9d5a91882f45">
            <div class="secTv_left flex_column">
             <a href="#" class="secTv_leftLink posa-full trigger" ></a>
              <p class="secTv_title title-channels">Эксклюзив</p>
    
               <p class="price flex_row aife posr"><span class="price_cost">749</span> <span class="price_rub"><span class="rub">р</span>/30 дней</span> </p>
               <a href="#podkluch" class="btn btn_main trigger" data-name="Эксклюзив">Подключить</a>
            </div>
            <div class="secTv_right flex_column">
              <div class="iconTv"></div>
              <script>
              idPackages.push("5e7b2c9bcf1d9d5a91882f45");
            </script> 
              <a href="#pack-5e7b2c9bcf1d9d5a91882f45" class="link link_count secTv_link">Каналов: <span class="channels_count">311</span></a>
      <p class="secTv_subtitle"><span>+&nbsp;PREMIER +&nbsp;more.tv</p>
              <a href="#channels_genre" class="btn secTv_btn trigger">Подробнее о тарифе</a> </div>
          </div>
          <div class="secTv_item tv-channels flex_row" data-id="5e7b2d5dcf1d9d5a91882f46">
            <div class="secTv_left flex_column">
             <a href="#" class="secTv_leftLink posa-full trigger" ></a>
              <p class="secTv_title title-channels">Эксклюзив + Кино</p>
        
               <p class="price flex_row aife posr"><span class="price_cost">999</span> <span class="price_rub"><span class="rub">р</span>/30 дней</span> </p>
               <a href="#podkluch" class="btn btn_main trigger" data-name="Эксклюзив + Кино">Подключить</a>
            </div>
            <div class="secTv_right flex_column">
              <div class="iconTv"></div>
              <script>
              idPackages.push("5e7b2d5dcf1d9d5a91882f46");
            </script> 
              <a href="#pack-5e7b2d5dcf1d9d5a91882f46" class="link link_count secTv_link">Каналов: <span class="channels_count">311</span></a>
              <p class="secTv_subtitle"><span>+&nbsp;AMEDIATEKA +&nbsp;ivi +&nbsp;START +&nbsp;PREMIER +&nbsp;more.tv</span></p>
              <a href="#channels_genre" class="btn secTv_btn trigger">Подробнее о тарифе</a> </div>
          </div>
        </div>
	</div>
	<div class="secTv_box" id="tarif_base">
	<p class="tac"><strong>Оставьте заявку и наш менеджер свяжется с вами для уточнения скорости доступа для вашего населенного пункта.</strong></p>
          <div class="secTv_slider">
          <div class="secTv_item tv-channels secTv_item_sale flex_row" data-id="5e7b2dd8d2d31fcd54882efc" data-name="Комбо Лайт">
            <div class="secTv_left flex_column">
             <a href="#podkluch" class="secTv_leftLink posa-full trigger" ></a>
              <p class="secTv_title title-channels">Комбо Лайт</p>
           <p class="price flex_row aife posr"><span class="price_cost">200</span> <span class="price_rub"><span class="rub">р</span>/мес</span> </p>
          <a href="#podkluch" class="btn btn_main trigger"  data-name="Комбо Лайт">Подключить</a>
            </div>
            <div class="secTv_right flex_column">
              <div class="iconTv"></div>
              <script>
              idPackages.push("5e7b2dd8d2d31fcd54882efc");
            </script> 
              <p class="text_internet">от <strong>10</strong> до <strong>200</strong> Мбит/сек</p>
              <a href="#pack-5e7b2dd8d2d31fcd54882efc" class="link link_count secTv_link">Каналов: <span class="channels_count">170</span></a>
              <a href="#channels_genre" class="btn secTv_btn trigger">Подробнее о тарифе</a> 
            </div>
          </div>
          <div class="secTv_item tv-channels secTv_item_sale flex_row" data-id="5e7b2e51cf1d9d5a91882f48" data-name="Комбо Хит">
            <div class="secTv_left flex_column">
             <a href="#podkluch" class="secTv_leftLink posa-full trigger"></a>
              <p class="secTv_title title-channels">Комбо Хит</p>
 
           <p class="price flex_row aife posr"><span class="price_cost">250</span> <span class="price_rub"><span class="rub">р</span>/мес</span> </p>
          <a href="#podkluch" class="btn btn_main trigger"  data-name="Комбо Хит">Подключить</a>
            </div>
            <div class="secTv_right flex_column">
              <div class="iconTv"></div>
              <script>
              idPackages.push("5e7b2e51cf1d9d5a91882f48");
            </script> 
              <p class="text_internet">от <strong>10</strong> до <strong>200</strong> Мбит/сек</p>
              <a href="#pack-5e7b2e51cf1d9d5a91882f48" class="link link_count secTv_link">Каналов: <span class="channels_count">170</span></a>
              <a href="#channels_genre" class="btn secTv_btn trigger">Подробнее о тарифе</a> 
            </div>
          </div>
          <div class="secTv_item tv-channels secTv_item_sale flex_row" data-id="610435302f5350c7c3efe669" data-name="Комбо Микс + Premier">
            <div class="secTv_left flex_column">
             <a href="#podkluch" class="secTv_leftLink posa-full trigger" ></a>
              <p class="secTv_title title-channels">Комбо Микс<br/> <span>+ Premier</span></p>
 
           <p class="price flex_row aife posr"><span class="price_cost">300</span> <span class="price_rub"><span class="rub">р</span>/мес</span> </p>
          <a href="#podkluch" class="btn btn_main trigger"  data-name="Комбо Микс + Premier">Подключить</a>
            </div>
            <div class="secTv_right flex_column">
              <div class="iconTv"></div>
              <script>
              idPackages.push("610435302f5350c7c3efe669");
            </script> 
             	<p class="text_internet">от <strong>10</strong> до <strong>200</strong> Мбит/сек</p>
              <a href="#pack-610435302f5350c7c3efe669" class="link link_count secTv_link">Каналов: <span class="channels_count">215</span></a>
              <a href="#channels_genre" class="btn secTv_btn trigger">Подробнее о тарифе</a> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container channels_container">
      <div class="channels_all tac" id="all-channels"> </div>
      <a href="#" class="channels_link">Смотреть весь список</a> </div>
        <a href="#5Page" class="header_bannerLink tac">А также</a>
  </section>
  <section class="sec secDop section sec_column" id="section5" data-section-name="5Page">
    <div class="container">
      <h2 class="tac">Тематические тарифы</h2>
      <div class="secDop_box secDop_box-new flex_row flex_wrap jcc">
        <div class="secDop_item_unit tv-channels secDop_itemDetskiy" data-id="624188dd245df6160e4578cb">
          <a href="#podkluch" target="_blank" class="secDop_link posa-full trigger" data-name="Детский"></a>
          <div class="secDop_text_unit flex_row aic"> <img src="img/dop-children.jpg" alt="" class="secDop_img_unit">
            <h3 class="secDop_title_unit title-channels">Детский</h3>
          </div>
             <p class="price secDop_price_unit"><span class="price_cost">159</span> <span class="price_rub"><span class="rub">р</span>/30 дней</span> </p>
          <div class="secDop_info_unit">
            <script>
              idPackages.push("624188dd245df6160e4578cb");
            </script> 
              <a href="#pack-624188dd245df6160e4578cb" class="link link_count secTv_link">Каналов: <span class="channels_amount">20</span></a> <a href="#channels_genre" class="btn secTv_btn trigger">Подробнее о тарифе</a>
          </div>
        </div>
        <div class="secDop_item_unit tv-channels secDop_itemKino" data-id="62418bc1c1146503a1043e90">
          <a href="#podkluch" target="_blank" class="secDop_link posa-full trigger" data-name="Кино"></a>
          <div class="secDop_text_unit flex_row aic"> <img src="img/dop-cinema.jpg" alt="" class="secDop_img_unit">
            <h3 class="secDop_title_unit title-channels">Кино</h3>
          </div>
             <p class="price secDop_price_unit"><span class="price_cost">259</span> <span class="price_rub"><span class="rub">р</span>/30 дней</span> </p>
          <div class="secDop_info_unit">
            <script>
              idPackages.push("62418bc1c1146503a1043e90");
            </script> 
              <a href="#pack-62418bc1c1146503a1043e90" class="link link_count secTv_link">Каналов: <span class="channels_amount">47</span></a> <a href="#channels_genre" class="btn secTv_btn trigger">Подробнее о тарифе</a>
          </div>
        </div>
        <div class="secDop_item_unit tv-channels secDop_itemPlus" data-id="62418b342473782366fd21dc">
          <a href="#podkluch" target="_blank" class="secDop_link posa-full trigger" data-name="Плюс"></a>
          <div class="secDop_text_unit flex_row aic"> <img src="img/dop-plus.jpg" alt="" class="secDop_img_unit">
            <h3 class="secDop_title_unit title-channels">Плюс</h3>
          </div>
             <p class="price secDop_price_unit"><span class="price_cost">159</span> <span class="price_rub"><span class="rub">р</span>/30 дней</span> </p>
          <div class="secDop_info_unit">
            <script>
              idPackages.push("62418b342473782366fd21dc");
            </script> 
              <a href="#pack-62418b342473782366fd21dc" class="link link_count secTv_link">Каналов: <span class="channels_amount">40</span></a> <a href="#channels_genre" class="btn secTv_btn trigger">Подробнее о тарифе</a>
          </div>
        </div>
        <div class="secDop_item_unit">
         <a href="#podkluch" target="_blank" class="secDop_link posa-full trigger" data-name="Ночной"></a>
          <div class="secDop_text_unit flex_row aic"> <img src="img/4.jpg" alt="" class="secDop_img_unit">
            <h3 class="secDop_title_unit">Ночной</h3>
          </div>
            <!-- <p class="price secDop_price_unit"><span class="price_cost">199</span> <span class="price_rub"><span class="rub">р</span>/30 дней</span> </p>-->
<p class="price flex_row aife posr secDop_price_unit secDop_price_unit2"> <span class="price_old">199</span> <span class="price_cost posa">0 <sub>*</sub><span class="rub">р</span><span class="text_small">/30 дней</span></span> <span class="price_rub"><span class="rub">р</span>/30 дней</span></p>           
          <div class="secDop_info_unit">
            <p>7 ТВ-каналов "для взрослых"</p>
            <a href="#channels_nochnoy" class="btn secTv_btn trigger">Подробнее о тарифе</a>
          </div>
        </div>
      </div>
      <h2 class="tac">Дополнительные тарифы</h2>
      <div class="secDop_box flex_row flex_wrap jcc">
        <div class="secDop_item_unit">
         <a href="#podkluch" target="_blank" class="secDop_link posa-full trigger" data-name="Настрой кино!"></a>
          <div class="secDop_text_unit flex_row aic"> <img src="img/1.png" alt="" class="secDop_img_unit">
            <h3 class="secDop_title_unit">Настрой кино!</h3>
          </div>
          	 <p class="price secDop_price_unit"><span class="price_cost">380</span> <span class="price_rub"><span class="rub">р</span>/30 дней</span> </p>
          <div class="secDop_info_unit">
          	<a href="#channels_cinema" class="btn secTv_btn trigger">Подробнее о тарифе</a>
          </div>
        </div>
        <div class="secDop_item_unit">
         <a href="#podkluch" target="_blank" class="secDop_link posa-full trigger" data-name="Матч! Футбол"></a>
          <div class="secDop_text_unit flex_row aic"> <img src="img/3.png" alt="" class="secDop_img_unit">
            <h3 class="secDop_title_unit">Матч! Футбол</h3>
          </div>
          	 <p class="price secDop_price_unit"><span class="price_cost">380</span> <span class="price_rub"><span class="rub">р</span>/30 дней</span> </p>
          <div class="secDop_info_unit">
          	<a href="#channels_football" class="btn secTv_btn trigger">Подробнее о тарифе</a>
          </div>
        </div>
        <div class="secDop_item_unit">
         <a href="#podkluch" target="_blank" class="secDop_link posa-full trigger" data-name="Матч! Премьер"></a>
          <div class="secDop_text_unit flex_row aic"> <img src="img/2.png" alt="" class="secDop_img_unit">
            <h3 class="secDop_title_unit">Матч! Премьер</h3>
          </div>
          	 <p class="price secDop_price_unit"><span class="price_cost">299</span> <span class="price_rub"><span class="rub">р</span>/30 дней</span> </p>
          <div class="secDop_info_unit">
          	<a href="#channels_match" class="btn secTv_btn trigger">Подробнее о тарифе</a>
          </div>
        </div>
        <!-- <div class="secDop_item_unit">
         <a href="#podkluch" target="_blank" class="secDop_link posa-full trigger" data-name="Дождь"></a>
          <div class="secDop_text_unit flex_row aic"> <img src="img/1.jpg" alt="" class="secDop_img_unit">
            <h3 class="secDop_title_unit">Дождь</h3>
          </div>
          	 <p class="price secDop_price_unit"><span class="price_cost">240</span> <span class="price_rub"><span class="rub">р</span>/30 дней</span> </p>
          <div class="secDop_info_unit">
          	<a href="#channels_dozhd" class="btn secTv_btn trigger">Подробнее о тарифе</a>
          </div>
        </div>-->
        <div class="secDop_item_unit">
         <a href="#podkluch" target="_blank" class="secDop_link posa-full trigger" data-name="Шант Премиум"></a>
          <div class="secDop_text_unit flex_row aic"> <img src="img/5.jpg" alt="" class="secDop_img_unit">
            <h3 class="secDop_title_unit">Шант Премиум</h3>
          </div>
          	 <p class="price secDop_price_unit"><span class="price_cost">240</span> <span class="price_rub"><span class="rub">р</span>/30 дней</span> </p>
          <div class="secDop_info_unit">
          	<a href="#channels_shant" class="btn secTv_btn trigger">Подробнее о тарифе</a>
          </div>
        </div>
        </div>
      <h2 class="tac">Кинотеатры</h2>
      <div class="secDop_box flex_row flex_wrap jcc">
         <div class="secDop_item_unit">
         <a href="#podkluch" target="_blank" class="secDop_link posa-full trigger" data-name="ivi"></a>
          <div class="secDop_text_unit flex_row aic"> <img src="img/ivi-1.svg" alt="" class="secDop_img_unit">
            <h3 class="secDop_title_unit">ivi</h3>
          </div>
          <p class="price flex_row aife posr secDop_price_unit secDop_price_unit2"> <span class="price_old">199</span> <span class="price_cost posa">0 <sub>*</sub><span class="rub">р</span><span class="text_small">/30 дней</span></span> <span class="price_rub"><span class="rub">р</span>/30 дней</span> </p>
<!--          <p class="price secDop_price_unit"><span class="price_cost">199</span> <span class="price_rub"><span class="rub">р</span>/30 дней</span> </p>-->
          <div class="secDop_info_unit">
            <p>Популярный каталог фильмов, мультфильмов и сериалов</p>
          </div>
        </div>
     <!--    <div class="secDop_item_unit">
         <a href="#podkluch" target="_blank" class="secDop_link posa-full trigger" data-name="Megogo"></a>
          <div class="secDop_text_unit flex_row aic"> <img src="img/megogo.jpg" alt="" class="secDop_img_unit">
            <h3 class="secDop_title_unit">Megogo</h3>
          </div>
           <p class="price flex_row aife posr secDop_price_unit secDop_price_unit2"> <span class="price_old">199</span> <span class="price_cost posa">0 <sub>*</sub><span class="rub">р</span><span class="text_small">/30 дней</span></span> <span class="price_rub"><span class="rub">р</span>/30 дней</span> </p>
         <p class="price secDop_price_unit"><span class="price_cost">199</span> <span class="price_rub"><span class="rub">р</span>/30 дней</span> </p>
           <div class="secDop_info_unit">
            <p>Популярный каталог фильмов, мультфильмов и сериалов</p>
          </div>
        </div>-->
        <div class="secDop_item_unit">
         <a href="#podkluch" target="_blank" class="secDop_link posa-full trigger" data-name="AMEDIATEKA"></a>
          <div class="secDop_text_unit flex_row aic"> <img src="img/amediateka.png" alt="" class="secDop_img_unit">
            <h3 class="secDop_title_unit">AMEDIATEKA</h3>
          </div>
          <div class="secDop_row flex_row aic jcsb">
           <p class="price flex_row aife posr secDop_price_unit secDop_price_unit2"> <span class="price_old">299</span> <span class="price_cost posa">0 <sub>*</sub><span class="rub">р</span><span class="text_small">/7 дней</span></span> <span class="price_rub"><span class="rub">р</span>/30 дней</span> </p>
<!--          	 <p class="price secDop_price_unit"><span class="price_cost">599</span> <span class="price_rub"><span class="rub">р</span>/30 дней</span> </p>-->
          	<a href="#channels_amedia" class="btn secTv_btn trigger">4 канала</a>
          </div>
          
          <div class="secDop_info_unit">
            <p>Премьеры лучших сериалов планеты**</p>
          </div>
        </div>
        <div class="secDop_item_unit">
         <a href="#podkluch" target="_blank" class="secDop_link posa-full trigger" data-name="START"></a>
          <div class="secDop_text_unit flex_row aic"> <img src="img/start-1.svg" alt="" class="secDop_img_unit">
            <h3 class="secDop_title_unit">START</h3>
          </div>
           <p class="price flex_row aife posr secDop_price_unit secDop_price_unit2"> <span class="price_old">399</span> <span class="price_cost posa">0 <sub>*</sub><span class="rub">р</span><span class="text_small">/30 дней</span></span> <span class="price_rub"><span class="rub">р</span>/30 дней</span> </p>
<!--          <p class="price secDop_price_unit"><span class="price_cost">399</span> <span class="price_rub"><span class="rub">р</span>/30 дней</span> </p>-->
          <div class="secDop_info_unit">
            <p>Премьеры российских сериалов до эфира на ТВ</p>
          </div>
        </div>
        <div class="secDop_item_unit secDop_itemPremier"><a href="#podkluch" target="_blank" class="secDop_link posa-full trigger" data-name="PREMIER"></a><div class="secDop_text_unit flex_row aic"> <img src="img/premier.jpg" alt="" class="secDop_img_unit"><h3 class="secDop_title_unit">PREMIER</h3></div><p class="price flex_row aife posr secDop_price_unit secDop_price_unit2"> <span class="price_old">199</span> <span class="price_cost posa">0 <sub>*</sub><span class="rub">р</span><span class="text_small">/14 дней</span></span> <span class="price_rub"><span class="rub">р</span>/30 дней</span> </p></div>
        <div class="secDop_item_unit secDop_itemMore"><a href="#podkluch" target="_blank" class="secDop_link posa-full trigger" data-name="Лучшее от more.tv"></a><div class="secDop_text_unit flex_row aic"> <img src="img/moretv.jpg" alt="" class="secDop_img_unit"><h3 class="secDop_title_unit">Лучшее от more.tv</h3></div><p class="price flex_row aife posr secDop_price_unit secDop_price_unit2"> <span class="price_old">299</span> <span class="price_cost posa">0 <sub>*</sub><span class="rub">р</span><span class="text_small">/7 дней</span></span> <span class="price_rub"><span class="rub">р</span>/30 дней</span> </p></div>
      </div>
    </div>
    <a href="#6Page" class="header_bannerLink tac">Посмотрите видео</a>
	</section>
  <section class="sec sec_column secVideo section" id="section6" data-section-name="6Page">
    <div class="container_min container" id="6Page">
      <h2 class="tac">Видео</h2>
      <div class="secVideo_box posr">
      	<video id="video" poster="img/poster.jpg" class="video" controls preload="none">
              <source src="https://www.salesupster.ru/img_ott/video/video.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
         </video>
      </div>
    </div>
     <a href="#7Page" class="header_bannerLink tac">Устройства</a>
  </section>
  <section class="sec secInfo section" id="section7" data-section-name="7Page">
    <div class="container container_min" id="7Page">
      <h2 class="tac">Как смотреть?</h2>
      <div class="secInfo_box flex_row aifs jcsb flex_wrap">
        <div class="secInfo_item box">
          <div class="secInfo_content box_content posr">
            <div class="secInfo_icon secInfo_icon2"></div>
            <h2>Smart TV</h2>
            <div class="secInfo_text">
              <p>Без приставок, антенн и дополнительного оборудования, просто установите «Смотрёшку» на телевизор с технологией «Smart TV» и наслаждайтесь просмотром. «Смотрёшка» работает на телевизорах от 2013 года выпуска.</p>
              <a href="https://old.smotreshka.tv/about-us/smart-tv/instruction/samsung_smarttv" class="secInfo_link" target="_blank" onclick="yaCounter.reachGoal('smotri_smarttv'); return true;">Как смотреть на Samsung Smart TV</a> 
              <a href="https://old.smotreshka.tv/about-us/smart-tv/instruction/netcast" class="secInfo_link" target="_blank" onclick="yaCounter.reachGoal('smotri_smarttv'); return true;">Как смотреть на LG Smart TV</a> 
              <a href="https://old.smotreshka.tv/about-us/smart-tv/instruction/android_tv" class="secInfo_link" target="_blank" onclick="yaCounter.reachGoal('smotri_smarttv'); return true;">Как смотреть на Android TV</a> </div>
            <div class="secInfo_stores flex_row flex_wrap aic"> <img src="img/lg_store.png" alt=""> <img src="img/smart_store.png" alt=""> <img src="img/android_store.png" alt=""> </div>
          </div>
        </div>
        <div class="secInfo_item box">
          <div class="secInfo_content box_content posr">
            <div class="secInfo_icon secInfo_icon3"></div>
            <h2>Смартфоны / Планшеты</h2>
            <div class="secInfo_text">
              <p>«Смотрёшка» для мобильных устройств отлично работает даже при слабом сигнале мобильного интернета. Вы можете смотреть на своём устройстве, а можете вывести изображение на телевизор через приставку Apple TV/Google Chromecast. При этом ваш смартфон или планшет превращается в многофункциональный пульт управления.</p>
              <a href="https://old.smotreshka.tv/about-us/ios-android/instruction/ios" class="secInfo_link" target="_blank" onclick="yaCounter.reachGoal('smotri_phone'); return true;">Как смотреть на iOS</a> 
              <a href="https://old.smotreshka.tv/about-us/ios-android/instruction/android" class="secInfo_link" target="_blank" onclick="yaCounter.reachGoal('smotri_phone'); return true;">Как смотреть на Android</a> </div>
            <div class="secInfo_stores flex_row flex_wrap aic"> <img src="img/app_store.png" alt=""> <img src="img/google_store.png" alt=""> </div>
          </div>
        </div>
        <div class="secInfo_item box">
          <div class="secInfo_content box_content posr">
            <div class="secInfo_icon secInfo_icon4"></div>
            <h2>ТВ-приставки</h2>
            <div class="secInfo_text">
              <p>«Смотрёшка» работает на медиаплеерах ОС Android (от 4.0), Dune HD, Eltex, MAG и Apple TV.</p>
              <a href="https://old.smotreshka.tv/about-us/stb/instruction/android_stb" class="secInfo_link" target="_blank" onclick="yaCounter.reachGoal('smotri_pristavka'); return true;">Как смотреть на Android STB</a> 
              <a href="https://old.smotreshka.tv/about-us/stb/instruction/dune" class="secInfo_link" target="_blank" onclick="yaCounter.reachGoal('smotri_pristavka'); return true;">Как смотреть на Dune HD</a> 
              <a href="https://old.smotreshka.tv/about-us/stb/instruction/eltex" class="secInfo_link" target="_blank" onclick="yaCounter.reachGoal('smotri_pristavka'); return true;">Как смотреть на Eltex</a> 
              <a href="https://old.smotreshka.tv/about-us/stb/instruction/mag" class="secInfo_link" target="_blank" onclick="yaCounter.reachGoal('smotri_pristavka'); return true;">Как смотреть на MAG</a> 
              <a href="#" class="secInfo_link" target="_blank" onclick="yaCounter.reachGoal('smotri_pristavka'); return true;">Как смотреть на Apple TV</a> 
              </div>
            <div class="secInfo_stores flex_row flex_wrap aic"> <img src="img/android.png" alt=""> <img src="img/mag.png" alt=""> <img src="img/appleTv.png" alt=""> <img src="img/duneHD.png" alt=""> <img src="img/etlex.png" alt=""> </div>
          </div>
        </div>
        <div class="secInfo_item box">
          <div class="secInfo_content box_content posr">
            <div class="secInfo_icon secInfo_icon1"></div>
            <h2>Компьютеры / Mac</h2>
            <div class="secInfo_text">
              <p>Смотрите ТВ на компьютере или ноутбуке: наслаждайтесь высоким качеством изображения и удобными функциями по управлению эфиром. Перейдите на сайт SMOTRESHKA.TV, укажите свой логин, пароль и нажмите «Войти».</p>
              <a href="https://smotreshka.tv/" class="secInfo_link" target="_blank" onclick="yaCounter.reachGoal('smotri_komp'); return true;">Смотреть</a> </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container tac">
      <div class="footer_logo"></div>
      <div class="footer_soc flex_row aic jcc"> 
      <a href="https://ask.smotreshka.tv/?utm_source=premiumtwo" class="footer_socIcon icon_sm">?</a> <a href="tg://resolve?domain=smotreshka" class="footer_socIcon icon_tg"></a> <a href="https://vk.com/smotreshka" class="footer_socIcon icon_vk"></a>  </div>
      <a href="#podkluch" class="btn footer_btn dn">Подключить</a> 
      <a href="https://ask.smotreshka.tv/?utm_source=premiumtwo" class="tac">Нам важно ваше мнение !</a>
       <div class="footer_info">
         <a href="https://myfbt.ru/page/privacy_policy" class="tal">Политика конфиденциальности</p>
          <p class="tal">*Акция действует для всех абонентов, впервые пользующихся услугой интерактивного ТВ, предоставляемого ООО «ЛайфСтрим» (ОГРН 1127746635170), а также для абонентов, впервые получающих доступ к онлайн-кинотеатрам ivi, START и дополнительному пакету «Настрой кино!». С подробными условиями акции можно ознакомиться по ссылкам <a href="https://smotreshka.tv/action" class="link" target="_blank">smotreshka.tv/action</a>, <a href="https://smotreshka.tv/actionkino" class="link" target="_blank">smotreshka.tv/actionkino</a> и <a href="http://smotreshka.tv/night" class="link" target="_blank">smotreshka.tv/night</a>. Не является стимулирующим мероприятием.</p>
          <p class="tal">ivi - иви, Amediateka - Амедиатека, START - СТАРТ, Premier - Премьер, more.tv - море.тв.</p>
         <p class="tal">**по версии портала imdb.com</p>
      </div>
      </div>
  </footer>
</div>
<script src="js/jquery-3.2.1.min.js"></script> 
<script src="js/lazysizes.min.js"></script>
<script src="js/iziModal.min.js"></script> 
<script src="js/jquery.maskedinput.min.js"></script> 
<script src="js/jquery-ui.min.js"></script> 
<script src="js/modal.js"></script> 
<script src="js/send.js"></script> 
<script src="js/owl.carousel.js"></script> 
<script src="js/channels.js"></script> 
<script src="js/main.js"></script>
<script src="js/jquery.scrollify.js"></script> 
<script src="js/script.min.js"></script>
</body>

<!-- Mirrored from salesupster.ru/iptv/fb-telecom/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 24 Apr 2022 11:56:32 GMT -->
</html>